<div class="container">
  <div class="text-section">
    <h1>Modern Realty Studios</h1>
    <p>Welcome to Modern Realty Studios, your trusted partner for exceptional real estate photography in the Chicagoland area. We are dedicated to providing clean and professional media that showcases your property in the best light possible.</p>
    <button>Book us</button>
  </div>
  <div class="img">
    <%= image_tag('house/house.jpeg', alt: 'House', width: '500px') %>
  </div>
</div>


<!---->
<%#= link_to "New page", new_page_path %>
