<h2>Packages</h2>
<p>Not only will you find that our quality is better than our competitors but so are our prices.</p>
<div class="row">
  <div class="column">
    
    <%= image_tag('kitchen/kitchen1.jpeg', alt: 'Landscape', width: '100%') %>
  </div>
  <div class="column">
    <%= image_tag('livingroom/livingroom1.jpeg', alt: 'Landscape', width: '100%') %>
  </div>
  <div class="column">
    <%= image_tag('house/house3.jpeg', alt: 'Landscape', width: '100%') %>
  </div>
