<h1>Packages</h1>
<div class="container">
  <div class="text-section">
    <h3>Photos</h3>
    <p>Our photos packages are as listed.</p>
    <button>Pricing</button>
  </div>
  <div class="img">
    <%= image_tag('house/house.jpeg', alt: 'House', width: '500px') %>
  </div>
</div>
