<h1>Packages</h1>
<div class="container">
  <div class="text-section">
    <h3>Photos</h3>
    <p>Our photos packages are as listed.</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
  </button>
  </div>
  <div class="img">
    <%= image_tag('house/house.jpeg', alt: 'House', width: '500px') %>
  </div>
</div>
